openapi: 3.0.3
info:
  title: MC PRIME NFC API
  version: 1.0.0
  description: >
    Core REST APIs powering the NFC Digital Business Card platform.
    Features Native Authentications, Caching optimizations, and Social Object validations.
servers:
  - url: https://api.mcprim.com
    description: Production Server
  - url: http://localhost:3000
    description: Localhost Development Development

paths:
  /api/auth/register:
    post:
      summary: Reigster a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                name:
                  type: string
                  example: "John Doe"
                email:
                  type: string
                  format: email
                  example: "john@example.com"
                password:
                  type: string
                  minLength: 6
                  example: "securePassword123"
                phone:
                  type: string
                  example: "+123456789"
      responses:
        '201':
          description: Created successfully (JWT + Refresh Cookie issued)
        '400':
          description: Validation Error or Email already exists
        '500':
          description: Internal Server Error

  /api/auth/login:
    post:
      summary: Authenticate user using Email & Password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Success (JWT issued, HttpOnly Refresh Cookie sent)
        '400':
          description: Invalid Credentials

  /api/auth/refresh:
    post:
      summary: Renew Access Token securely via HttpOnly Cookie Payload
      responses:
        '200':
          description: Refreshed Access Token
        '401':
          description: No refresh token provided
        '403':
          description: Token rotated or revoked previously

  /api/auth/logout:
    post:
      summary: Logout securely revoking Refresh Token states
      responses:
        '200':
          description: Logged out effectively clearing HttpOnly Cookies.

  /api/save-design:
    post:
      summary: Create or optionally update a Digital Card profile JSON definition
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: Target ShortId (for updating)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: object
                  properties:
                    input-name:
                      type: string
                    input-tagline:
                      type: string
                dynamic:
                  type: object
                imageUrls:
                  type: object
      responses:
        '200':
          description: Saved Configuration Object successfully.
        '403':
          description: Unauthorized update or Quota Maximum reached (>10 Designs).
        '500':
          description: Database Insert Failure

  /api/get-design/{id}:
    get:
      summary: Retrieve Digital Card Design Document by ShortId (Redis Cached)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Found Document Definition. `X-Cache` sets HIT/MISS Header natively.
        '404':
          description: ShortId matching 0 DB Elements.

  /api/upload-image:
    post:
      summary: Process Profile Images generating WEBP structures resolving to CDNs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Return `url` mapping Cloudinary or CDN endpoint
        '400':
          description: Limits Exceeded (10MB Buffer).

  /api/upload-signature:
    get:
      summary: Pre-sign Client Native Cloudinary File Submissions mapping AppSecrets.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Cryptographic Return Object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                  timestamp:
                    type: integer
                  cloudName:
                    type: string
                  apiKey:
                    type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    CookieAuth:
      type: apiKey
      in: cookie
      name: refreshToken
